:root{
    --blue: rgb(117, 30, 197);
    --main-color:rgb(117, 30, 197);
    --white: white;
}

.page{
    height: 100vh;
}

.left a{
    color: white;
}
.left .menu-page{
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.15);
    font-size: 120%;
}
.selected, .menu-page:hover{
    background: rgba(255, 255, 255, 0.25) !important;
}
.right, .left{
    overflow: auto;
}

.header h1{
    margin: 0;
    margin-bottom: 20px;
}

.menu-mobile {
    opacity: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity 0.3s, height 0.3s, visibility 0.3s;
    padding: 10px;
    padding-top: 0;
    overflow: hidden;
    background-color: var(--main-color);
}
.menu-mobile.active {
    opacity: 1;
    height: auto;
    visibility: visible;
    overflow: auto;
    max-height: 70vh;
    position: fixed;
    top: 10vh;
    left: 0;
    right: 0;
    max-height: 90vh;
    overflow: auto;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--blue) lightgray;
}
*::-webkit-scrollbar {
    width: 5px;
    /* background-color: lightgray; */
    border-radius: 100px;
}
*::-webkit-scrollbar-thumb {
    /* background-color: gray; */
    background-color: lightgray;
    /* background-color: var(--blue); */
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
}


.menu-container{
    float: right;
}

.header button{
    margin: 10px;
    background-color: var(--main-color);
    border: 0;
    color: white;
    font-size: 150%;
    margin: 20px;
}

.pagel{
    border-bottom: 1px solid lightgray;
    padding: 10px;
}
.pagel h2{
    margin: 2px;
}


.error, .success{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 450;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    color: var(--white);
    margin: 10px;
    font-size: 120%;
}
:where(.error, .success) p{
    margin: 15px;
}
:where(.error, .success) i{
    margin-right: 5px !important;
    font-size: 150%;
}
.error{
    background-color: rgba(255, 0, 0, 0.7);
}
.success{
    background-color: rgba(7, 160, 7, 0.7);
}

.skill{
    font-size: 120%;
    background-color: rgba(85, 85, 85, 0.189);
    padding: 10px;
    margin-top: 10px;
    border-radius: 7px;
    max-width: 300px;
}

@media (min-width:780px){
    .page{
        display: grid;
        grid-template-columns: 15% 85%;  
    }
    .page .left{
        background-color: var(--blue);
        margin-right: 10px;
        padding: 10px;
        color: white;
    }
    .page .right{
        padding: 10px;
    }
    .right{
        padding-top: 0 !important;
    }
    .mobile{
        display: none !important;
    }
}

@media (max-width:780px){
    .header{
        background-color: var(--main-color);
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10vh;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
    .header h1{
        margin: 0;
    }
    .page{
        height: 90vh;
    }
    .right{
        padding: 10px;
        padding-top: 0px;
        max-height: 90vh;
        overflow: auto;
    }
    body{
        padding-top: 10vh;
    }
    .pc{
        display: none !important;
    }
    .skill{
        max-width: 90%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}