body{
    background-color: rgb(43,43,43);
    color: rgba(255, 255, 255, 0.797);
    margin: 0;
    padding-bottom: 100px;
}

header{
    font-size: 120%;
    padding-top: 20vh;
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(233, 95, 95);
}

.component{
    text-align: center;
    background-color: rgba(0, 0, 255, 0.512);
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}

code{
    margin-left: 20px;
    color: rgb(233, 95, 95);
}

.home{
    font-size: 120%;
    margin: 20px;
}

.file, .folder{
    padding: 5px;
    padding-left: 10px;
}
.folder{
    margin-top: 5px;
    margin-left: 10px;
    color: white;
    border-left: 1px solid white;
}
.file{
    color:aqua;
    margin-left: 10px;
    margin-top: 5px;
}
.struc{
    font-size: 120%;
}




@media all and (min-width:780px) {
    .home, .struc{
        width: 500px;
        margin: auto;
    }
    .code2{
        display: none;
    }
}

@media all and (max-width:780px) {
    .home, .struc{
        margin: 20px;
    }
    pre{
        display: none;
    }
    .code2{
        display: block;
        margin-left: 5px;
    }
}